{% extends 'default.html' %}
{% load static %}
<link rel="stylesheet" href="{% static "css/style.css" %}" >

{% block title %}
Афиша
{% endblock %}

{% block content %}
    <div class="albom">
        <a href=""><img src="{% static "images/q.png" %}" alt=""></a>
        <a href=""><img class="albom1" src="{% static "images/qq.png" %}" alt=""></a>
        <a href=""><img src="{% static "images/qqq.png" %}" alt=""></a>
        <a href=""><img class="albom2" src="{% static "images/qqqq.png" %}" alt=""></a>
        <a href=""><img src="{% static "images/qqqqq.png" %}" alt=""></a>
        <a href=""><img src="{% static "images/qqqqqq.png" %}" alt=""></a>
    </div>
{% endblock %}